@charset "UTF8";
*{
	margin: 0;
	padding: 0; 
}
body{
	width: 890px;
	height: 100px;
		
}
section{
	background-color: red;
	width: 890px;
	height: 500px;
}
article{
	padding: 10px 0 10px 10px;
	display: block;
}
embed{
	display: inline-block;
}
.div-v{
	background-color: rgba(0,0,0,0.5);
	width: 100px;
	height: 315px;
	display: inline-block;
	position: relative;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
h1{
	font-size: 8pt;
}