@charset "UTF8";
/*///////////////// RESET /////////////////*/
*{
	margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family:arial,serif;
}
body{
	width: 1024px;
	background-color: rgb(97, 129, 182);	
	margin: auto;
}
ul, ol, li, a{
	list-style: none !important;
	text-decoration: none !important;
}
/*///////////////// RESET /////////////////*/





/*///////////////// HEADER /////////////////*/
header{
	background-color: rgb(51,51,51);
	width: 1024px;
	height: 48px;
	border-color: rgb(51,51,51);
	box-shadow: 1px 1px 3px rgb(51,51,51);
}
/*/////////////// DIV HEADER ///////////////*/
.div_header{
	background-color: rgb(158, 158, 158);
	width: 1024px;
	height: 100px;
	display: block;
	float: left;
	border-color: rgb(158, 158, 158);
	box-shadow: 1px 1px 3px rgb(158, 158, 158);
}
.img_html{
    width: 280px;
    height: 100px;
}
.img_c{
	width: 150px;
	height: 100px;
}
.img_php{
	width: 150px;
	height: 100px;
}
/*////////////// DIV HEADER //////////////*/
/*///////////////// LOGO /////////////////*/
.logo{
    font-size: 30px;
    text-decoration: none;
    color:rgb(255,255,255);
    margin-left: 10px;
    margin-top: 8px;
    float: left;
    text-shadow: black 0.1em 0.1em 0.2em
}
/*///////////////// LOGO /////////////////*/
/*///////////////// MENU /////////////////*/
.menu{
	height: 48px;
	float: right;
}
.menu ul{
	list-style: none;
	position: relative;
}
.menu ul li{
	float: left;
}
.menu a{
    color: rgb(255,255,255);
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
}
.menu ul ul{
	position: absolute;
	visibility: hidden;
}
.menu ul li:hover ul{
	visibility: visible;
}
.menu a:hover{
	background-color:rgb(255,255,255);
    color:rgb(51,51,51);
}
.menu ul ul li{
	float: none;
	border-bottom: solid 1px #ccc;
}
.menu ul ul li a{
	background-color:rgb(51,51,51);
    color:rgb(255,255,255);
}
/*///////////////// MENU /////////////////*/
/*//////////////// HEADER ////////////////*/





/*///////////////// SECTION E ASIDE /////////////////*/
/* SECTION */
section{
	background-color: #fff;
	width: 888px;
	height: 925px;
	display: block;
	float: left;
	border-color: rgb(187, 192, 200);
	box-shadow: 1px 1px 3px rgb(187, 192, 200);
}
article{
	box-shadow: 1px 1px rgb(158, 158, 158);
	width: 270px;
	height: 200px;
	border:1px solid rgb(158, 158, 158);
	border-radius: 5px;
	display: inline-block;
	float: left;
	padding: 5px;
	margin: 10px 0px 0px 10px;
}
.titulo_article{
	color: black;
	text-align: center;
	background-image: linear-gradient(to right, rgba(56, 99, 160, 0.5), rgba(158, 158, 158, 0.5));
}
.img_article{
	width: 270px;
	height: 178px;
}
/* SECTION */

/* ASIDE */
aside{
	background-color: #fff;
	width: 134px;
	height: 925px;
	display: block;
	float: right;
	border-color: rgb(187, 192, 200);
	box-shadow: 1px 1px 3px rgb(187, 192, 200);
}
.aside-titulo{
	text-align: center;
	margin:5px;
	font-size: 12pt;
	border-bottom: 1px solid black;
}
.projetosli{
	color: black;
	margin: 10px;
	text-decoration: none;
}
/* ASIDE */
/*///////////////// SECTION E ASIDE /////////////////*/

/*///////////////// TROCA DE PAGINAS /////////////////*/
.troca_de_paginas{
	width: 885px;
	height: 20px;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
}
.troca_de_paginas a{
	color: black;
}
/*///////////////// TROCA DE PAGINAS /////////////////*/


/*///////////////// FOOTER /////////////////*/
/*///////////////// FOOTER /////////////////*/
footer{
	display: block;
	float: left;
}
.footer-div1{
	background-color: rgb(158, 158, 158);
	display: block;
	float: left;
	width: 995px;
	padding: 14px;
	border-color: rgb(158, 158, 158);
	box-shadow: 1px 1px 3px rgb(158, 158, 158);
}
.footer-div2{
	background-color: rgb(51,51,51);
	display: block;
	float: left;
	width: 996px;
	padding: 14px;
	border-color: rgb(51,51,51);
	box-shadow: 1px 1px 3px rgb(51,51,51);
}
.h1h1{
	font-size: 12px;
	text-align: center;
}
/*///////////////// FOOTER /////////////////*/
/*///////////////// FOOTER /////////////////*/